@import url("./assets/fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Syne, sans-serif;
}

body {
  background-color: #010208;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Base responsive font sizes */
html {
  font-size: 16px;
}

@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
